@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&display=swap');
.App {
  font-family: 'Rajdhani', sans-serif;
}

.home-img {
  width: 100%;
  height: 480px;
}
.home-img img {
  width: 100%;
  height: 480px;
  object-position: left top;
  object-fit: cover;
  margin-bottom: 10px;
}

.home-head {
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.popular {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popular-intro {
  text-align: center;
  font-size: 15px;
}

.popular-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 16px;
}

.popular-images img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
